.main {
    color: black;
    background: #ffffff;
    background-size: 100% 700px;
    widtch: 100%;
    height: 700px;
}


.logo{
    vertical-align: middle;
}

header{
    background-color: #f1f1f1;
    vertical-align: middle;
}

footer{
    background-color: #a0ffff;
    widtch: 100%
}

.logo_text{
    vertical-align: top;
}

.header_block{
    display: flex;
    align-items: center;
}

.logo{
    widtch: 35px;
    height: 50px;
}