<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index html</title>
    <link rel="stylesheet" type="text/css" href="resources/css/styles.css">
</head>
<body>
<header>
    <div class="logo">
    </div>
</header>
<div class="main">
<h1>Semantic markup</h1>
    <p>Jon Duckett:</p>
    <blockquote>
        There are some <b>text</b> elements that are not intended to affect the
        structure of your web pages, but they do add extra information to the
        pages — they are known as semantic markup.
    </blockquote>
</div>
<footer>
    <p>Footer</p>
</footer>
</body>
</html>